@model EntityLayer.Concrete.Message
<div class="col-md-3">
    <a href="/AdminMessage/Create" class="btn btn-primary btn-sm btn-block">Yeni Mesaj</a>
    <div class="panel panel-default p-0  m-t-20">
        <div class="panel-body p-0">
            <div class="list-group no-border mail-list">
                <a href="/Contact/GetAll" class="list-group-item"><i class="fa fa-star-o m-r-5"></i>İletişim</a>
                <a href="/Message/Inbox" class="list-group-item "><i class="fa fa-download m-r-5"></i>Gelen Kutusu <b>(4)</b></a>
                <a href="#" class="list-group-item"><i class="fa fa-star-o m-r-5"></i>Yızdızlı Mesajlar</a>
                <a href="#" class="list-group-item"><i class="fa fa-file-text-o m-r-5"></i>Taslaklar <b>(20)</b></a>
                <a href="/Message/SendBox" class="list-group-item"><i class="fa fa-paper-plane-o m-r-5"></i>Giden Kutusu</a>
                <a href="#" class="list-group-item"><i class="fa fa-trash-o m-r-5"></i>Çöp Kutusu <b>(354)</b></a>
            </div>
        </div>
    </div>

    <h3 class="panel-title m-t-40">Labels</h3>
    <div class="panel panel-default p-0  m-t-20">
        <div class="panel-body p-0">
            <div class="list-group no-border">
                <a href="#" class="list-group-item"><span class="fa fa-circle text-info pull-right"></span>Web App</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-warning pull-right"></span>Project 1</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-purple pull-right"></span>Project 2</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-pink pull-right"></span>Friends</a>
                <a href="#" class="list-group-item"><span class="fa fa-circle text-success pull-right"></span>Family</a>
            </div>
        </div>
    </div>

</div>
