@model EntityLayer.Concrete.Message
<div class="col-md-3">
    <a href="/Message/Create" class="btn btn-success btn-sm btn-block"><i class="fas fa-edit"></i> Yeni Mesaj</a>
    <div class=" panel-default p-0  m-t-20">
        <div class="panel-body p-0">
            <div class="list-group">
              
                <a href="/Message/Inbox" class="list-group-item "> Gelen Kutusu (4)</a>
                <a href="#" class="list-group-item"> Yızdızlı Mesajlar</a>       
                <a href="/Message/SendBox" class="list-group-item"> Giden Kutusu</a>
                <a href="#" class="list-group-item">Çöp Kutusu(354)</b></a>
            </div>
        </div>
    </div>



</div>
